<!DOCTYPE html>
<html lang="jp">
<head>
    <meta charset="UTF-8">
    <title>Preregistration</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">
    <link rel="stylesheet" th:href="@{/styles/main.css}">
</head>
<body>
<div class="container">
    <h1 class="text-center my-3">Preregistration</h1>
    <form id="register-form">
        <div class="form-group my-3">
            <label for="username-input">Username</label>
            <input type="text" class="form-control" id="username-input" placeholder="Please input your username">
        </div>

        <div class="form-group my-3">
            <label for="password-input">Password</label>
            <div class="input-group">
                <input type="password" class="form-control" id="password-input" placeholder="Please input your password">
                <div class="input-group-append">
                    <button type="button" class="btn btn-outline-secondary" id="show-pwd-btn">
                        <i class="bi bi-eye-fill" id="show-pwd-icon"></i>
                    </button>
                </div>
            </div>
        </div>

        <div class="form-group my-3">
            <label for="group-id-input">Group ID</label>
            <input type="number" min="0" step="1" class="form-control" id="group-id-input" placeholder="Please input your group ID">
        </div>

        <button type="button" id="preregister-btn" class="w-100 my-3 btn btn-lg btn-outline-primary">Preregister</button>
    </form>

    <div id="message-box" class="d-none">
        <span id="message-content"></span>
    </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script type="text/javascript" th:src="@{/scripts/main.js}"></script>
<script type="text/javascript" th:src="@{/scripts/plugins/message.js}"></script>
<script type="text/javascript" th:src="@{/scripts/user/preregistration.js}"></script>
</body>
</html>